<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>404 Страница не существует</title>
    <meta name="viewport" content="width=device-width">
</head>
<body>
<div class="error-page-wrap">
    <article class="error-page gradient">
        <hgroup>
            <h1>404<br>oops!</h1>
            <h2>Страница с таким именем не найдена</h2>
        </hgroup>
    </article>
</div>
</body>
</html>